body{
    /* width: 100vw;
    height: 100vh; */
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow-y: hidden; 
    overflow-x: hidden;  */
}

.test{
    display: none;
}
.howToScreen{
    display: none;
    content: url("./hi.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh; 
}

.howToOpen{
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: -30px;
   
 
}

.bottom{
    padding-top: 200px;
    background: -webkit-linear-gradient(rgb(238, 175, 175), rgb(248, 237, 78));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;  
}

ul{
    padding-inline-start: 0px;
}

.title{
    display: flex;
    margin-top: -180px;
    justify-content: center;
    padding-bottom: 150px;
    cursor: default;
    background: -webkit-linear-gradient(rgb(2, 255, 116), rgb(255, 112, 112) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.startScreen{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 40px;
    padding-top: 250px;
}

.start{
    padding-bottom: 10px;
    font-size: 100px;
    background: -webkit-linear-gradient(rgb(223, 105, 105), rgb(205, 105, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -30px;
}

.startNoSound{
    padding-bottom: 10px;
   background: -webkit-linear-gradient(rgb(223, 105, 105), rgb(191, 78, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.startNoSound:hover{
    padding-bottom: 10px;
    cursor: pointer;
}

.start:hover{
    cursor: pointer;

}

.main {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: center;
}

.gitHub{
    text-decoration: none;
    color: white;
    font-size: 24px;
}

/* .background{
    /* background-image: url("./background.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
} */

.figures{
    display: flex;
}


.player {
    display:  flex;
    flex-direction: column;
    margin-top: 68px;
    margin-left: 387px;
    height: 130px;

}

.playerImage:hover{
    animation: shake 0.5s;
}

/* .player img {
    height: 100%; 
    max-width: 150px;
} */

.playerImage{
    background-size: cover;
    height: 180px;
    width: 270px;
    background-repeat: no-repeat;
}

.enemy {
    margin-top: 30px;
    /* position: fixed; */
    /* background-image: url("./goblin.png"); */
    /* background-size: cover; */
    height: 130px;
    /* margin-top: 180px; */
    /* margin-left: 950px; */
    /* padding-bottom: 200px; */
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.enemyImg0{
    background-image: url("./enemies/goblin.png"); 
    background-size: cover;
    height: 180px;
    width: 270px;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
    margin-left: 200px;
}

.enemyImg0:hover{
    animation: shake 0.5s;
}

.enemyImg1{
    background-image: url("./enemies/goblin2.png"); 
    background-size: cover;
    height: 180px;
    width: 270px;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
    margin-left: 200px;
}
.endDance{
    background-image: url("./enemies/chacha.gif"); 
    background-size: contain;
    margin-left: 690px;
    height: 180px;
    width: 270px;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
}

.enemyImg1:hover{
    animation: shake 0.5s;
}

.enemyImg2{
    background-image: url("./enemies/goblin3.png"); 
    background-size: cover;
    height: 180px;
    width: 270px;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
    margin-left: 200px;
}

.enemyImg2:hover{
    animation: shake 0.5s;
}

.endTurt{
    width: 50%;
    height: auto;
}

.enemyImg3{
    background-image: url("./enemies/king.png"); 
    background-size: cover;
    height: 180px;
    width: 270px;
    background-repeat: no-repeat;
    animation-iteration-count: infinite;
    margin-left: 200px;
}

.enemyImg3:hover{
    animation: shake 0.5s;
}

.enemyName{
    text-align: center;
    white-space: nowrap;
    padding-right: 40px;
    line-height: 1.5;
    font-size: 20px;
    font-style: italic;
    color: rgb(255, 253, 145);
}

.playerName{
    font-size: 18px;
    padding-right: 10px;
    line-height: 1.5;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: rgba(20, 24, 26, 0.842);
}

.playerTitle{
    font-size: 11px;
    padding-right: 70px;
    line-height: 2.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgba(255, 255, 255, 0.76);
}

.hand{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 120px;
    flex-direction: column;
}

.card-list{
    display: flex;
    margin: 0px;
    width: 80%;
    justify-content: space-evenly;
    color: white;
    list-style-type: none;
    font-size: small;
    text-align: center;
    padding-left: 150px;
}

.addCard{
    min-height: 20px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.cardText{
    height: 220px;
}

.cardDescription{
    margin-top: 160px;
    text-align: center;
    justify-content: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 140px;
}

.Card{
    /* background-image: url("./cards/card.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 296px;
    margin: 0 -220px;
    max-width: 212px;
    transition: all .1s ease-in-out; 
}

.Card:hover { 
transform: scale(1.1);
}

#end-turn{
    color: white;
    background-color: rgba(85, 105, 110, 0.842);
    width: 100px;
    line-height: 1.6;
    margin-top: 200px;
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: rgba(153, 205, 50, 0.63);
    text-align: center;
    text-emphasis: bold;
    border-radius: 10px;
}

#end-turn:hover {
  background-color: #4CAF50;
  color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: rgba(85, 105, 110, 0.842); */
     background: -webkit-linear-gradient(rgb(52, 133, 224), rgb(10, 10, 10) );
    -webkit-background-clip: content-box;
    
}

.heart{
    width: auto;
    height: 30px;
    background-size: contain;
    padding-right: 5px;
}

.stats-container{
    font-size: large;
    justify-content: flex-end;
    text-align: center;
    margin-top: 10px;
}

.stats{
    color: white;
    text-align: center;
    align-items: center;
}

.left{
    display: flex;
    margin-left: 20px;
}

.health{
    line-height: 1.5;
    color: white;
    font-size: 18px;
    text-align: center;
    text-align: start;
}

.enemy-stats{
    color: white;
    text-align: center;
    margin-left: 200px;
    font-size: large;
}

.intent{
    color: red;
    align-items: center;
    text-align: center;
    width: 50%;
    white-space: nowrap;
}

.intentName{
    color: white;
    text-align: center;
    text-emphasis: bold;
    width: 50%;
    white-space: nowrap;
}

.endScreen{
    text-align: center;
    display: none;
    flex-direction: column;
    color: white;
    font-size: 40px;
    padding-top: 250px;
}