body{
    /* width: 100vw;
    height: 100vh; */
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
ul{
    padding-inline-start: 0px;
}

.startScreen{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 40px;
    padding-top: 250px;
    }

.main {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: center;
}

.howTo{
    text-decoration: none;
    color: white;
}

.background{
    /* background-image: url("./background.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover; */
}

.figures{
    display: flex;
    justify-content: space-evenly;
}


.player {
    display:  flex;
    flex-direction: column;
    margin-top: 100px;
    height: 130px;

}

.player img {
    height: 100%;
    max-width: 150px;
}

.enemy {
    margin-top: 130px;
    /* position: fixed; */
    /* background-image: url("./goblin.png"); */
    /* background-size: cover; */
    height: 130px;
    /* margin-top: 180px; */
    /* margin-left: 950px; */
    /* padding-bottom: 200px; */
}

.enemyImg0{
    background-image: url("./goblin.png"); 
    background-size: contain;
    height: 60%;
    background-repeat: no-repeat;
}
.enemyImg1{
    background-image: url("./goblin2.png"); 
    background-size: contain;
    height: 80%;
    background-repeat: no-repeat;
}

.enemyImg2{
    background-image: url("./goblin3.png"); 
    background-size: contain;
    height: 80%;
    background-repeat: no-repeat;
}

.enemyName{
    text-align: center;
    color: lightcoral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hand{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 140px;
    flex-direction: column;
}

.card-list{
    display: flex;
    margin: 0px;
    width: 80%;
    justify-content: space-evenly;
    color: white;
    list-style-type: none;
    font-size: small;
    text-align: center;
    padding-left: 150px;
}

.addCard{
    text-align: center;
    color: white;
    padding-bottom: 40px;
}

.cardText{
    height: 220px;
}

.cardDescription{
    margin-top: 160px;
    text-align: center;
    justify-content: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 140px;
}

.Card{
    /* background-image: url("./cards/card.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 212px;
    height: 296px;
    margin: 0 -220px;
    max-width: 212px;
    transition: all .1s ease-in-out; 
}

.Card:hover { 
transform: scale(1.1);
}

#end-turn{
    color: white;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.stats-container{
    font-size: large;
    justify-content: flex-end;
    text-align: center;
}

.stats{
    color: white;
    text-align: center;
    align-items: center;
}

.health{
    color: white;
    font-size: x-large;
    text-align: center;
}

.enemy-stats{
    color: white;
}

.intent{
    margin-top: 10px;
    color: red;
    align-items: center;
    text-align: center;
}

.intentName{
    color: white;
    text-align: center;
    text-emphasis: bold;
}

.endScreen{
    text-align: center;
    display: none;
    flex-direction: column;
    color: white;
    font-size: 40px;
    padding-top: 250px;
}